<template>
  <div class="layout">
    <!-- 顶部 -->
    <header class="top-side">
      <div class="logo-box">
        <span>锋锐</span>
      </div>
      <i :class="{'nav-show-btn iconfont': true, 'icon-weibiaoti15': !isCollapse, 'icon-kuaijiecaidan': isCollapse}" @click="isCollapse = !isCollapse"></i>
      <aside class="right-side">
        <!-- 全屏模式 -->
        <el-tooltip class="item" effect="dark" content="全屏" placement="bottom">
          <i class="iconfont icon-quanping" @click="toggleScreenfull"></i>
        </el-tooltip>
        <!-- 个人信息 -->
          <el-dropdown :hide-on-click="false" class="myself" @command="selfCtl">
            <img src="./../../assets/photo.png" alt="">
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>个人中心</el-dropdown-item>
              <el-dropdown-item divided command="logOut">退出登录</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
      </aside>
    </header>
    <!-- 侧边栏 -->
    <aside :class="{'nav-side': true, 'nav-hiden': isCollapse}">
      <el-menu :default-active="activeNav" class="el-menu-vertical-demo" :collapse="isCollapse" unique-opened router @select="saveActiveNav">
        <template v-for="(item, index) in newRouter()">
          <el-submenu :index="`${index}`" :key="index" v-if="!item.single">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span>{{item.groupTitle}}</span>
            </template>
            <el-menu-item :index="`/${itemChild.path}`" v-for="(itemChild, indexChild) in item.children" :key="indexChild" :route="itemChild.path">
              <i class="el-icon-menu"></i>
              <span slot="title">{{itemChild.title}}</span>
            </el-menu-item>
          </el-submenu>
          <el-menu-item :index="`/${item.path}`" :key="index" v-if="item.single" :route="item.path">
            <i class="el-icon-menu"></i>
            <span slot="title">{{item.title}}</span>
          </el-menu-item>
        </template>
      </el-menu>
    </aside>
    <!-- 历史菜单栏 -->
    <nav-tab-box :navShow="isCollapse"></nav-tab-box>
    <!-- 内容页面 -->
    <div :class="{'content-view': true, 'nav-hiden-content-view': isCollapse}" id="content-view">
      <transition name="fade">
        <router-view />
      </transition>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { mapActions } from 'vuex'
  import screenfull from 'screenfull'
  import navTabBox from './../../components/navTabBox.vue'
  export default {
    name: 'layout',
    data() {
      return {
        // activeNav: sessionStorage.getItem('activeNav') || '0-0',
        isCollapse: false,
        navTabList: [{
          name: '首页'
        }]
      }
    },
    created() {
      this.newRouter()
    },
    methods: {
      ...mapActions([
        'saveActiveNav'
      ]),
      // 从新组合路由地址，进行分类去重
      newRouter: function (val) {
        const _val = val || this.$router.options.routes[1].children
        // 去重，获取组别数组
        const res = new Map();
        const _group = _val.filter((item, index) => {
          if (res.has(item.group) && !item.single) {
            return false
          } else {
            res.set(item.group, 1)
            return true
          }
        })
        // 定义方法， 对组别数据进行重新赋值定义
        const __map = (array, fn) => {
          let results = []
          for (const value of array)
            results.push(fn(value))
          return results
        }
        // 获取新组别数据
        let _newGroup = __map(_group, (item) => {
          if (item.single) {
            return item
          } else {
            return ({
              group: item.group,
              groupTitle: item.groupTitle,
              children: []
            })
          }
        })
        // 分类，对组别数据进行添加子数据
        const _map = (array, brray) => {
          let group = ''
          let results = []
          let child = []
          array.forEach((item, index) => {
            results.push(item)
            brray.forEach((_item, _index) => {
              if (item.group === _item.group && !_item.single && !item.single) {
                results[index].children.push(_item)
              }
            })
          })
          return results
        }
        let _endNav = _map(_newGroup, _val)
        return _endNav
      },
      // 启动全屏
      toggleScreenfull () {
        if (!screenfull.enabled) {
          this.$message({
            message: '该浏览器不支持全屏模式',
            type: 'warning'
          })
          return false
        }
        screenfull.toggle()
      },
      // 个人控制中心
      selfCtl (type) {
        switch (type) {
          case 'logOut':
            this.$confirm('次操作将退出当前用户，是否继续?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              this.$router.push('/login')
            }).catch(() => {          
            })
            break
        
          default:
            break
        }
      }
    },
    components: {
      navTabBox
    },
    computed: {
      ...mapGetters(['activeNav'])
    }
  }
</script>

<style lang="scss" scoped>
  .layout {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    >.top-side {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 50px;
      line-height: 50px;
      border-bottom: solid 1px #e6e6e6;
      box-sizing: border-box;
      >.logo-box {
        display: inline-block;
        width: 200px;
        text-align: center;
      }
      >.nav-show-btn {
        display: inline-block;
        padding: 0 1rem;
        cursor: pointer;
        transition: .6s all ease;
      }
      >.nav-show-btn:hover {
        background-color: #e6e6e6;
      }
      > .right-side {
        float: right;
        padding: 0 1rem;
        > .iconfont {
          display: inline-block;
          padding: 0 1rem;
          cursor: pointer;
          transition: .6s all ease;
        }
        > .iconfont:hover, .myself:hover {
          background-color: #e6e6e6;
        }
        .myself {
          // display: inline-block;
          float: right;
          padding: 7px .5rem;
          width: 36px;
          height: 36px;
          overflow: hidden;
          cursor: pointer;
          transition: .6s all ease;
          img {
            width: 100%;
          }
        }
      }
    }
    >.nav-side {
      position: absolute;
      top: 50px;
      left: 0;
      bottom: 0;
      width: 200px;
      border-right: solid 1px #e6e6e6;
      box-sizing: border-box;
      transition: .8s all ease;
      >.el-menu {
        border: none
      }
    }
    >.nav-hiden {
      width: 65px;
    }
    >.content-view {
      position: absolute;
      top: 80px;
      left: 200px;
      right: 0;
      bottom: 0;
      padding: 0 .8rem .8rem .8rem;
      box-sizing: border-box;
      transition: .8s all ease;
      overflow-y: auto;
      overflow-x: hidden;
    }
    >.nav-hiden-content-view {
      left: 65px;
    }
  }
  .fade-enter-active {
    animation-name: fadeIn;
    animation-duration: 1s;
  }
</style>
