<template>
  <div :class="{'nav-tab-box': true, 'nav-tab-box-show': navShow}">
    <scroll-pane>
      <ul>
        <li v-for="(item, index) in navTabList" :key="index" :class="{'active': item.active}" @click="turnRouter(item.path)">
          <span>{{item.title}}</span>
          <i class="iconfont icon-close" @click.stop="deleteNavTabList(index)" v-if="index !== 0"></i>
        </li>
      </ul>
    </scroll-pane>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { mapActions } from 'vuex'
  import scrollPane from './scrollPane.vue'
  export default {
    data() {
      return {
        // active: 0
      }
    },
    props: {
      navShow: {
        defalut: true,
        type: Boolean
      },
      // navTabList: {
      //   defalut: [],
      //   type: Array
      // }
    },
    methods: {
      turnRouter (path) {
        this.$router.push(path)
      },
      ...mapActions([
        'deleteNavTabList'
      ])
    },
    computed: {
      // 使用对象展开运算符将 getter 混入 computed 对象中
      ...mapGetters([
        'navTabList'
      ])
    },
    components: {
      scrollPane
    }
  }
</script>

<style lang="scss" scpeod>
  .nav-tab-box {
    position: absolute;
    left: 200px;
    top: 50px;
    right: 0;
    height: 30px;
    line-height: 29px;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    transition: .8s all ease;
    ul {
      height: 30px;
      font-size: .8rem;
      > li {
        display: inline-block;
        position: relative;
        padding: 0 .5rem 0 1rem;
        height: 100%;
        line-height: 29px;
        box-sizing: border-box;
        transition: 0.2s all linear;
        cursor: pointer;
        border-right: 1px solid #e6e6e6;
        > .iconfont {
          margin-left: 1rem;
        }
      }
      > li:first-child {
        padding: 0 1rem;
      }
      > li::before {
        content: "";
        position: absolute;
        top: -2px;
        left: 100%;
        z-index: -1;
        width: 0;
        height: 100%;
        border-bottom: 2px solid #409EFF;
        transition: 0.2s all linear;
      }
      > li:hover::before {
        width: 100%;
        top: -2px;
        left: 0;
        transition-delay: 0.1s;
        border-bottom-color: #409EFF;
      }
      > li:hover~li::before {
        left: 0;
      }
      > li:active {
        background: #409EFF;
        color: #fff;
      }
      > .active {
        background: #409EFF;
        color: #fff;
      }
    }
  }

  .nav-tab-box-show {
    left: 64px;
  }
</style>